body {
  /* background-color: #f4efbc; */
  background-image: url(roses.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  /* background-blend-mode: soft-light; */
  font-family: 'Roboto', cursive;

}

#title{
  float: center;
  width: 100%;


}

#title h1 {
  /* color:#8c8c8c; */
  text-align: center;
  font-family: 'Unica One', cursive;
  font-size: 80px;
  background-color: rgb(255, 255, 255);
  opacity: 0.7;
  letter-spacing: 5px;
  /* width: 80%; */


}

/* you can google the hex color */
p {

  color: #ffffff;
  /* border: 2px solid orange; */
}


/* #title{
  background-color: white;

} */
#nav{
  background-color: rgb(255,182,193);
  opacity: 0.7;
  text-align: center;
  margin: 10px auto auto auto;
  /* float: center; */
  padding: 20px;
  width: 80%;

}

#nav h2 {
  /* color:#8c8c8c; */
  /* float: center; */
  text-align: center;
  font-family: 'Unica One', cursive;
  font-size: 30px;
  letter-spacing: 3px;
  /* width: 80%; */
  /* margin: 10px auto auto auto; */
}

 li{
  display: inline-block;

}

#container{
  background-color: rgb(173,216,230);
  /* opacity: 0.3; */
  text-align: center;
  margin: 10px auto auto auto;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 80%;
  font-family: 'unica One', cursive;
  font-size: 20px;
}

#container img{
  border: white solid 4px;
  background-color: white;
  padding: 15px 15px 50px 15px;

}

img:hover{
  background-color: white;
  opacity: 0.7;
}


/* .floating-box {
    text-align; center;
    display: inline-block;
    font-size: 30px;
    color: #ffffff;
    width: 120px;
    height: 45px;
    margin: 50px;
    background-color: #ffdddf;
    border-radius: 40%; */

    /* border: 3px solid #73AD21; */
  }

  #container .floating-box {
      background-color: blue;
      border: none;
      text-decoration: none;
      color: white;
      padding: 20px;
     text-align: center;
     font-size: 40px;
     margin: 30px 30px;
        /* display: inline-block; */
        /* font-size: 30px; */
        /* color: #ffffff; */
        /* width: 60px; */
        /* height: 45px; */
        /* margin: 50px; */
        /* background-color: #ffdddf; */
        /* border-radius: 30%; */
        float: center;
}
/* ul {
  text-align: justify;
    list-style-type: none;
    margin: 30;
    padding: 30; */
    /* overflow: hidden; */
    /* display: block;
    width: 100%;
}
li {
  display: block;
} */


.button {
      background-color: lightpink; /* Green */
      border: none;
      color: white;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 30px;
      margin: 30px 30px;
      cursor: pointer;
      /* border-radius: 30%; */
      float: center;

  }

  a:hover {
    color: lightblue;
    background-color: white;
    text-shadow: 1px 1px black;
    list-style-type: none;
}

h4 {
  /* background-color: rgb(255, 255, 255); */
  text-align: center;
  color: white;
  font-family: 'unica One', cursive;
  font-size: 20px;
  /* margin-left: 20px; */


}
