button{
  border-radius: 8px;
  padding: 12px 28px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  opacity: 0.6;
}

button:hover {
  opacity: 1;
}

#button1{
  background-color:#4CAF50;;
}

#button2{
  background-color:#FFC04C;
}
